# **Ingesting data from a website into a Pandas dataframe which can later be used for cleaning and analysis**

In [ ]:
from bs4 import BeautifulSoup
import requests, pandas as pd

In [12]:
job_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
souped = requests.get(job_url)

job_html = BeautifulSoup(souped.content, "html.parser")

#Fetch job titles (job positions)
job_titles = job_html.find_all('h3', {'class' : 'base-search-card__title'})
job_list = []
for i in job_titles: job_list.append(i.getText().strip())

#Fetch name of the company offering each job
company_name = job_html.find_all('h4', {'class' : 'base-search-card__subtitle'})
job_company = []
for i in company_name: job_company.append(i.getText().strip())

#Fetch job location
location = job_html.find_all('span', {'class' : 'job-search-card__location'})
job_location = []
for i in location: job_location.append(i.getText().strip())

#Recency of job posting
recency1 = job_html.find_all('time', {'class' : 'job-search-card__listdate--new'})
recency2 = job_html.find_all('time', {'class' : 'job-search-card__listdate'})
job_recency = []
for i in recency1: job_recency.append(i.getText().strip())
for i in recency2: job_recency.append(i.getText().strip())

#creating dataframe to store fetched job details
data = {'Job_Title' : job_list, 'Company' : job_company, 'Location' : job_location, 'Job_Recency' : job_recency}
pd_df = pd.DataFrame(data)

# Following block sends fetched job details to a CSV file

try:
    existing_df = pd.read_csv('pd_linkedin_jobs.csv')  # Try to read an existing CSV file
    updated_df = pd.concat([existing_df, pd_df], ignore_index = True)   # Append the new data to the existing DataFrame
    updated_df.to_csv('pd_linkedin_jobs.csv', index = False)    # Save the updated DataFrame back to the CSV file
    print(f"Data appended to {'pd_linkedin_jobs.csv'}")
except FileNotFoundError:
    pd_df.to_csv('pd_linkedin_jobs.csv', index = False)   # If the CSV file does not exist, create a new one
    print(f"Data saved to a new CSV file: {'pd_linkedin_jobs.csv'}")  # prints when data is fetch first ever time

Data saved to a new CSV file: pd_linkedin_jobs.csv

In [13]:
# Reading the saved 'pd_linkedin_jobs.csv' file
read_data = pd.read_csv('pd_linkedin_jobs.csv')
pd.set_option('display.max_rows', None)
read_data  # o/p showing 60 records as each run fetches 60 records

,Job_Title,Company,Location,Job_Recency
0,"Data Analyst, Finance & Strategy, MarComms",Netflix,"Los Angeles, CA",18 hours ago
1,Data Analyst II,The Hershey Company,"Hershey, PA",9 hours ago
2,Data Analyst,KFC,"Plano, TX",20 hours ago
3,Data Analyst,CULT GAIA,Los Angeles Metropolitan Area,1 week ago
4,Data Analyst,Zest AI,"Burbank, CA",2 weeks ago
5,Data Analyst,Cloudflare,"Austin, TX",4 days ago
6,Data Analyst,Kforce Inc,"New York, NY",3 days ago
7,"Data Analyst, Pricing",Lyft,"Seattle, WA",1 week ago
8,Data Analyst,Upstart,United States,1 week ago
9,Data Analyst,Birlasoft,"Charlotte, NC",1 week ago
10,Data Analyst,Cloudflare,"Dallas, TX",1 week ago
11,"Analyst, Analytics",Toyota North America,"Plano, TX",1 week ago
12,Data Analyst,Memorial Sloan Kettering Cancer Center,"New York, NY",2 weeks ago
13,Sales Data Analyst,Morgan Stanley,"Boston, MA",1 week ago
14,Data Analyst,Cloudflare,"Houston, TX",5 days ago
15,Data Analyst,Radiant Digital,"Brooklyn, NY",2 weeks ago
16,Data Analyst,CoralTree Hospitality,"Englewood, CO",1 week ago
17,Data Analyst,Synapticure,"Chicago, IL",4 days ago
18,Data Analyst I,Protingent,"Charlotte, NC",4 weeks ago
19,Data Analyst,PrudentRx,"Tampa, FL",6 days ago
20,Data Analyst,Healthcasts Media,New York City Metropolitan Area,1 month ago
21,"Data Analyst - Power BI, SQL, & Python",Insight Global,Charlotte Metro,1 week ago
22,Data Analyst,QSC,United States,1 week ago
23,Junior Data Analyst (contingent),ARETUM,"Washington, DC",1 week ago
24,Data Analyst,Cloudflare,"San Antonio, TX",3 days ago
25,Senior Data Analyst (NY Hybrid),Experian,"New York, NY",1 week ago
26,Data Analyst (251934),Eastridge Workforce Solutions,"New York, NY",1 week ago
27,Business Data Analyst,Mirion,"Atlanta, GA",6 days ago
28,Data Analyst,Korn Ferry,"California, United States",1 week ago
29,Data Analyst,Korn Ferry,Washington DC-Baltimore Area,4 days ago
30,Data Analyst,Counterpart,United States,4 days ago
31,Data Analyst - (SQL / Looker - 100% Remote),Optomi,"New Jersey, United States",1 week ago
32,Data Analyst,Cloud and Things,United States,1 week ago
33,Data Analyst,Medterra,United States,1 week ago
34,Data Analyst,Dexian,"Tampa, FL",4 days ago
35,Data Analyst,Korn Ferry,"Florida, United States",1 week ago
36,Data Analyst,Tata Consultancy Services,"Irving, TX",4 days ago
37,Data Analyst,YunoJuno,United States,1 week ago
38,Data Analyst,Bamboo Insurance,United States,1 week ago
39,Data Analyst,Elder Research,"Arlington, VA",6 days ago
40,Data Analyst,Korn Ferry,"Georgia, United States",1 week ago
41,Data Analyst - Marketing,FanDuel,"New York, NY",4 days ago
42,"Analyst II, Data and Insights",Herbalife,"Torrance, CA",4 days ago
43,Data Analyst,Korn Ferry,"Virginia, United States",1 week ago
44,Junior Data Analyst,Sesheng,United States,4 days ago
45,Business Data Analyst,Volt,"Sparks, NV",2 days ago
46,Data Analyst,Numero Data,"Herndon, VA",2 weeks ago
47,Data Analyst,MGT,"Tinley Park, IL",1 week ago
48,Data Analyst,PRI Global,United States,4 days ago
49,Data Analyst,The Cypress Group,New York City Metropolitan Area,2 weeks ago
50,Data Analyst,IT Labs,United States,1 week ago
51,Senior Data Analyst,CyberCoders,"Normal, IL",1 week ago
52,Data Analyst,Planet Interactive,"San Francisco, CA",1 week ago
53,Data Analyst,Korn Ferry,"Delaware, United States",4 days ago
54,Data Analysts,AutoRoboto,"Mountain View, CA",1 week ago
55,Data Analyst,Flexton Inc.,Cincinnati Metropolitan Area,3 days ago
56,Data Analyst,Korn Ferry,"Arkansas, United States",4 days ago
57,Data Analyst,Korn Ferry,"Idaho, United States",4 days ago
58,Data Analyst,Korn Ferry,"Connecticut, United States",4 days ago
59,Data Analyst - Epidemiology,ImageTrend,United States,2 weeks ago

**Second run of above code:**

In [14]:
job_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
souped = requests.get(job_url)

job_html = BeautifulSoup(souped.content, "html.parser")

#Fetch job titles (job positions)
job_titles = job_html.find_all('h3', {'class' : 'base-search-card__title'})
job_list = []
for i in job_titles: job_list.append(i.getText().strip())

#Fetch name of the company offering each job
company_name = job_html.find_all('h4', {'class' : 'base-search-card__subtitle'})
job_company = []
for i in company_name: job_company.append(i.getText().strip())

#Fetch job location
location = job_html.find_all('span', {'class' : 'job-search-card__location'})
job_location = []
for i in location: job_location.append(i.getText().strip())

#Recency of job posting
recency1 = job_html.find_all('time', {'class' : 'job-search-card__listdate--new'})
recency2 = job_html.find_all('time', {'class' : 'job-search-card__listdate'})
job_recency = []
for i in recency1: job_recency.append(i.getText().strip())
for i in recency2: job_recency.append(i.getText().strip())

#creating dataframe to store fetched job details
data.clear()  # Clearing prev content of dictionary 'data'
data = {'Job_Title' : job_list, 'Company' : job_company, 'Location' : job_location, 'Job_Recency' : job_recency}
pd_df = pd.DataFrame(data)

# Following block sends fetched job details to a CSV file

try:
    existing_df = pd.read_csv('pd_linkedin_jobs.csv')  # Try to read an existing CSV file
    updated_df = pd.concat([existing_df, pd_df], ignore_index = True)   # Append the new data to the existing DataFrame
    updated_df.to_csv('pd_linkedin_jobs.csv', index = False)    # Save the updated DataFrame back to the CSV file
    print(f"Data appended to {'pd_linkedin_jobs.csv'}")
except FileNotFoundError:
    pd_df.to_csv('pd_linkedin_jobs.csv', index = False)   # If the CSV file does not exist, create a new one
    print(f"Data saved to a new CSV file: {'pd_linkedin_jobs.csv'}")

Data appended to pd_linkedin_jobs.csv

In [15]:
# Reading the saved 'pd_linkedin_jobs.csv' file
read_data = pd.read_csv('pd_linkedin_jobs.csv')
pd.set_option('display.max_rows', None)

read_data  # o/p showing 120 records now

,Job_Title,Company,Location,Job_Recency
0,"Data Analyst, Finance & Strategy, MarComms",Netflix,"Los Angeles, CA",18 hours ago
1,Data Analyst II,The Hershey Company,"Hershey, PA",9 hours ago
2,Data Analyst,KFC,"Plano, TX",20 hours ago
3,Data Analyst,CULT GAIA,Los Angeles Metropolitan Area,1 week ago
4,Data Analyst,Zest AI,"Burbank, CA",2 weeks ago
5,Data Analyst,Cloudflare,"Austin, TX",4 days ago
6,Data Analyst,Kforce Inc,"New York, NY",3 days ago
7,"Data Analyst, Pricing",Lyft,"Seattle, WA",1 week ago
8,Data Analyst,Upstart,United States,1 week ago
9,Data Analyst,Birlasoft,"Charlotte, NC",1 week ago
10,Data Analyst,Cloudflare,"Dallas, TX",1 week ago
11,"Analyst, Analytics",Toyota North America,"Plano, TX",1 week ago
12,Data Analyst,Memorial Sloan Kettering Cancer Center,"New York, NY",2 weeks ago
13,Sales Data Analyst,Morgan Stanley,"Boston, MA",1 week ago
14,Data Analyst,Cloudflare,"Houston, TX",5 days ago
15,Data Analyst,Radiant Digital,"Brooklyn, NY",2 weeks ago
16,Data Analyst,CoralTree Hospitality,"Englewood, CO",1 week ago
17,Data Analyst,Synapticure,"Chicago, IL",4 days ago
18,Data Analyst I,Protingent,"Charlotte, NC",4 weeks ago
19,Data Analyst,PrudentRx,"Tampa, FL",6 days ago
20,Data Analyst,Healthcasts Media,New York City Metropolitan Area,1 month ago
21,"Data Analyst - Power BI, SQL, & Python",Insight Global,Charlotte Metro,1 week ago
22,Data Analyst,QSC,United States,1 week ago
23,Junior Data Analyst (contingent),ARETUM,"Washington, DC",1 week ago
24,Data Analyst,Cloudflare,"San Antonio, TX",3 days ago
25,Senior Data Analyst (NY Hybrid),Experian,"New York, NY",1 week ago
26,Data Analyst (251934),Eastridge Workforce Solutions,"New York, NY",1 week ago
27,Business Data Analyst,Mirion,"Atlanta, GA",6 days ago
28,Data Analyst,Korn Ferry,"California, United States",1 week ago
29,Data Analyst,Korn Ferry,Washington DC-Baltimore Area,4 days ago
30,Data Analyst,Counterpart,United States,4 days ago
31,Data Analyst - (SQL / Looker - 100% Remote),Optomi,"New Jersey, United States",1 week ago
32,Data Analyst,Cloud and Things,United States,1 week ago
33,Data Analyst,Medterra,United States,1 week ago
34,Data Analyst,Dexian,"Tampa, FL",4 days ago
35,Data Analyst,Korn Ferry,"Florida, United States",1 week ago
36,Data Analyst,Tata Consultancy Services,"Irving, TX",4 days ago
37,Data Analyst,YunoJuno,United States,1 week ago
38,Data Analyst,Bamboo Insurance,United States,1 week ago
39,Data Analyst,Elder Research,"Arlington, VA",6 days ago
40,Data Analyst,Korn Ferry,"Georgia, United States",1 week ago
41,Data Analyst - Marketing,FanDuel,"New York, NY",4 days ago
42,"Analyst II, Data and Insights",Herbalife,"Torrance, CA",4 days ago
43,Data Analyst,Korn Ferry,"Virginia, United States",1 week ago
44,Junior Data Analyst,Sesheng,United States,4 days ago
45,Business Data Analyst,Volt,"Sparks, NV",2 days ago
46,Data Analyst,Numero Data,"Herndon, VA",2 weeks ago
47,Data Analyst,MGT,"Tinley Park, IL",1 week ago
48,Data Analyst,PRI Global,United States,4 days ago
49,Data Analyst,The Cypress Group,New York City Metropolitan Area,2 weeks ago
50,Data Analyst,IT Labs,United States,1 week ago
51,Senior Data Analyst,CyberCoders,"Normal, IL",1 week ago
52,Data Analyst,Planet Interactive,"San Francisco, CA",1 week ago
53,Data Analyst,Korn Ferry,"Delaware, United States",4 days ago
54,Data Analysts,AutoRoboto,"Mountain View, CA",1 week ago
55,Data Analyst,Flexton Inc.,Cincinnati Metropolitan Area,3 days ago
56,Data Analyst,Korn Ferry,"Arkansas, United States",4 days ago
57,Data Analyst,Korn Ferry,"Idaho, United States",4 days ago
58,Data Analyst,Korn Ferry,"Connecticut, United States",4 days ago
59,Data Analyst - Epidemiology,ImageTrend,United States,2 weeks ago
60,"Data Analyst, Finance & Strategy, MarComms",Netflix,"Los Angeles, CA",18 hours ago
61,Data Analyst II,The Hershey Company,"Hershey, PA",9 hours ago
62,Data Analyst,KFC,"Plano, TX",20 hours ago
63,Data Analyst,CULT GAIA,Los Angeles Metropolitan Area,1 week ago
64,Data Analyst,Zest AI,"Burbank, CA",2 weeks ago
65,Data Analyst,Cloudflare,"Austin, TX",4 days ago
66,Data Analyst,Kforce Inc,"New York, NY",3 days ago
67,"Data Analyst, Pricing",Lyft,"Seattle, WA",1 week ago
68,Data Analyst,Upstart,United States,1 week ago
69,Data Analyst,Birlasoft,"Charlotte, NC",1 week ago
70,Data Analyst,Cloudflare,"Dallas, TX",1 week ago
71,"Analyst, Analytics",Toyota North America,"Plano, TX",1 week ago
72,Data Analyst,Memorial Sloan Kettering Cancer Center,"New York, NY",2 weeks ago
73,Sales Data Analyst,Morgan Stanley,"Boston, MA",1 week ago
74,Data Analyst,Cloudflare,"Houston, TX",5 days ago
75,Data Analyst,Radiant Digital,"Brooklyn, NY",2 weeks ago
76,Data Analyst,CoralTree Hospitality,"Englewood, CO",1 week ago
77,Data Analyst,Synapticure,"Chicago, IL",4 days ago
78,Data Analyst I,Protingent,"Charlotte, NC",4 weeks ago
79,Data Analyst,PrudentRx,"Tampa, FL",6 days ago
80,Data Analyst,Healthcasts Media,New York City Metropolitan Area,1 month ago
81,"Data Analyst - Power BI, SQL, & Python",Insight Global,Charlotte Metro,1 week ago
82,Data Analyst,QSC,United States,1 week ago
83,Junior Data Analyst (contingent),ARETUM,"Washington, DC",1 week ago
84,Data Analyst,Cloudflare,"San Antonio, TX",3 days ago
85,Senior Data Analyst (NY Hybrid),Experian,"New York, NY",1 week ago
86,Data Analyst (251934),Eastridge Workforce Solutions,"New York, NY",1 week ago
87,Business Data Analyst,Mirion,"Atlanta, GA",6 days ago
88,Data Analyst,Korn Ferry,"California, United States",1 week ago
89,Data Analyst,Korn Ferry,Washington DC-Baltimore Area,4 days ago
90,Data Analyst,Counterpart,United States,4 days ago
91,Data Analyst - (SQL / Looker - 100% Remote),Optomi,"New Jersey, United States",1 week ago
92,Data Analyst,Cloud and Things,United States,1 week ago
93,Data Analyst,Medterra,United States,1 week ago
94,Data Analyst,Dexian,"Tampa, FL",4 days ago
95,Data Analyst,Korn Ferry,"Florida, United States",1 week ago
96,Data Analyst,Tata Consultancy Services,"Irving, TX",4 days ago
97,Data Analyst,YunoJuno,United States,1 week ago
98,Data Analyst,Bamboo Insurance,United States,1 week ago
99,Data Analyst,Elder Research,"Arlington, VA",6 days ago
100,Data Analyst,Korn Ferry,"Georgia, United States",1 week ago
101,Data Analyst - Marketing,FanDuel,"New York, NY",4 days ago
102,"Analyst II, Data and Insights",Herbalife,"Torrance, CA",4 days ago
103,Data Analyst,Korn Ferry,"Virginia, United States",1 week ago
104,Junior Data Analyst,Sesheng,United States,4 days ago
105,Business Data Analyst,Volt,"Sparks, NV",2 days ago
106,Data Analyst,Numero Data,"Herndon, VA",2 weeks ago
107,Data Analyst,MGT,"Tinley Park, IL",1 week ago
108,Data Analyst,PRI Global,United States,4 days ago
109,Data Analyst,The Cypress Group,New York City Metropolitan Area,2 weeks ago
110,Data Analyst,IT Labs,United States,1 week ago
111,Senior Data Analyst,CyberCoders,"Normal, IL",1 week ago
112,Data Analyst,Planet Interactive,"San Francisco, CA",1 week ago
113,Data Analyst,Korn Ferry,"Delaware, United States",4 days ago
114,Data Analysts,AutoRoboto,"Mountain View, CA",1 week ago
115,Data Analyst,Flexton Inc.,Cincinnati Metropolitan Area,3 days ago
116,Data Analyst,Korn Ferry,"Arkansas, United States",4 days ago
117,Data Analyst,Korn Ferry,"Idaho, United States",4 days ago
118,Data Analyst,Korn Ferry,"Connecticut, United States",4 days ago
119,Data Analyst - Epidemiology,ImageTrend,United States,2 weeks ago

In [11]:
!rm -f /content/pd_linkedin_jobs.csv  # Erase the file to free resources



---

# Shell commands for force deleting Colab folders/files


```
!rm -rf /content/folderName/            # -rf for recursive force (delete all folder content & the folder itself)
!rm -f /content/fileName.fileFormat     # -f for single file
```

e.g.
```
# !rm -rf /content/spark_linkedin_jobs.csv/  

# !rm -f /content/pd_linkedin_jobs.csv  
```